body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FD98FF;
}

.bg-1 {
 background-color: #F592C6;
}

.bg-2 {
  background-color: #D096E8;
}

.bg-3 {
  background-color: #FD98FF;
}
.bg-4 {
  background-color: #C598FF;
}
.bg-5 {
  background-color: #A292F5;
}